<div class='header-row'>
  <h1>Territories</h1>
  <%= link_to 'New Territory', new_territory_path, class: 'btn btn-primary' %>
</div>

<div id='map' class='map-container'
     data-controller='map'
     data-map-territories-value='<%= @territories.includes(:landmarks).map { |t| { id: t.id, number: t.number, name: t.name, polygon: t.polygon, landmarks_count: t.landmarks.count, url: territory_path(t) } }.to_json %>'></div>

<table class='territory-table'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Group</th>
      <th>Landmarks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @territories.includes(:landmarks).each do |territory| %>
      <tr>
        <td class='number'><%= territory.number %></td>
        <td><%= link_to territory.name, territory_path(territory) %></td>
        <td><%= territory.group_name %></td>
        <td><%= territory.landmarks.count %></td>
        <td class='actions'>
          <%= link_to 'Card', card_territory_path(territory), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Edit', edit_territory_path(territory), class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
